<section>
    
      <div id="rectangle1">
        <img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\9.png">  
        Session</div>
      
      <div id="rectangle2">
        <img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\4.png">
        Participant</div>
      <div id="rectangle3">
        <img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\10.jpg">
        Formateur</div> 
        <div>
        <table id="tab1">
            <tr>
               <th>track</th>
               <th>nbre de sessions</th>    
            </tr>
            <tr>
                <td>MEAN stack</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Android</td>
            </tr>
            <tr>
                <td>Ionic</td>
            </tr>
            <tr>
                <td>Angular</td>
            </tr>
            <tr>
                <td>NodeJS</td>
            </tr>

        </table>    
    </div>
    <div>
        <table id="tab2">
            <tr>
            <th>top formateurs</th>
        </tr>
        <tr>
            <td>
                nom et prenom
            </td>
        </tr>
        <tr>
            <td>nom et prenom</td>
        </tr>
        </table>
    </div>

    

</section>
