<section>
  
   <p class="description2">Date et Adresse
      
   </p> 
    <p class="description">
      
      <img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\2.jpg">
     
        Espace Admin </p>

    <p><img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\1.png">  
         <input type="text" placeholder="chercher Session">
</p>
    <div class="description">
      <a routerLink="/session1" routerLinkActive="active">
        <img src="C:/Users/Mariem Slimene/Desktop/cycle ing 2eme/1er semestre/Web/icons.jpg"
         id="icon" />
        </a>
      Dashbord 
    
    <hr>
    <a routerLink="/session2" routerLinkActive="active">
      <img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\9.png"
       id="icon" />
      </a>
    Session 
    <hr>
    <a routerLink="/session5" routerLinkActive="active">
      <img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\10.jpg"
       id="icon" />
      </a>
    
    Formateurs 
    <hr>
   <a routerLink="/session6" routerLinkActive="active">
      <img src="C:\Users\Mariem Slimene\Desktop\cycle ing 2eme\1er semestre\Web\icons\4.png"
       id="icon" />
      </a>
    Participants </div>
    
    
      
    
    
    

    
    
</section>
<section>
  <router-outlet></router-outlet>
</section>