:host {
    margin: 0;
    position: absolute;
      top: 40%;
      left:70%;
      transform: translate(-50%, -50%);
      display: flex;
      /* align-self:right;
      flex-direction: column;*/
        width: 90%;
        height: 50%;
        border: 2px solid;
        background-color: #fdfdfd;
        padding: 10px;
        color: #bdc2c5;
        }

        
        th{
            background-color: deepskyblue;
            color:white;
            font-size:small;
          }
          tr:nth-child(even) {background-color: #96eaf5;
        text-align: center;}
          td{
            color:black;
          text-align:left;
      font-size:small;}
      #tab{
        position:relative;
            top:50px;
            left:50%;
            border: 1px solid rgb(245, 241, 241);
            width: 400%;
            
          }
        