:host {
    margin: 0;
    position: absolute;
      top: 150px;
      left:450px;
      transform: translate(-50%, -50%);
      display: flex;
      /* align-self:right;
      flex-direction: column;*/
        width: 870px;
        height:250px;
        border: 2px solid;
        background-color: #32435b;
        padding: 10px;
        color: #32435b;
        }
        h1{
            line-height: 3px;
            color:white;
        }
        #form1 {
            position: relative;
      top: 95px;
      left:47%;
      transform: translate(-50%, -50%);
      display: flex;
            
            flex-direction: column;
            width: 250px;
            height: 200px;
            border: 2px solid;
            background-color: #29394b;
            padding: 10px;
            color: #bdc2c5;
            border-color: #53ace4;

            }
            
    
            #form1 > h4 {
            color: #53ace4;
            }
            #form2>h4{
                color: #53ace4;
            }
            #form3 > h4 {
            color: #45bf94;
            }
            .tools {
            margin-top: 2px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            }
            
            .delete {
            display: block;
            background-color: #ec4342;
            padding: 4px;
            font-size: .8em;
            border-radius: 7px;
            color: #ffffff;
            cursor: pointer;
            }
            .modif {
            display: block;
            background-color: #37ad79;
            padding: 4px;
            font-size: .8em;
            border-radius: 4px;
            color: #ffffff;
            cursor: pointer;
            }
            #form2 {
                position: absolute;
          top: 160px;
          left:450px;
          transform: translate(-50%, -50%);
          display: flex;
                
                flex-direction: column;
                width: 250px;
                height: 200px;
                border: 2px solid;
                background-color: #29394b;
                padding: 10px;
                color: #bdc2c5;
                border-color: #53ace4;
                
                }
                #form3 {
                    position: absolute;
              top: 160px;
              left:735px;
              transform: translate(-50%, -50%);
              display: flex;
                    
                    flex-direction: column;
                    width: 250px;
                    height: 200px;
                    border: 2px solid;
                    background-color: #29394b;
                    padding: 10px;
                    color: #bdc2c5;
                   
                    border-color: #45bf94;
                    }
                